input {
  height: 4vh;
  max-height: 25px;
}

button {
  margin-left: 1em;
  color: #fff;
  background-color: #a5a3a3;
  border: none;
  height: 2em;
  width: 8em;
  border-radius: 5px;
}


@media (max-width: 750px) and (orientation: portrait) {
 button {
   margin-top: 1em;
 }
}
