.weather {
 margin-left: 1em;
 margin-top: 3em;
}

.icon img {
  position: absolute;
  top: 11em;
  left: 13em;
  height: 8em;
  width: 8em;
}

@media (max-width: 750px) and (orientation: portrait) {


}
