body{
 background-image: radial-gradient(circle, #8fb3c2, #fff);
 background-repeat: no-repeat;
 min-height: 100vh;
}
.App {
 margin: 5em 8em;
}

@media (max-width: 750px) and (orientation: portrait) {
  .App{
    margin: 5em auto;
    text-align: center;
  }
}
