body{
 background-image: url("grains.jpg");
 background-repeat: no-repeat;
 min-height: 100vh;
 background-position: center left;
}
.App {
 display: flex;
}

.weather-table {
  margin-top: 5em;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  width: 30%;
  height: 75vh;
  border-radius: 15px;
  position: relative;
}

@media (max-width: 750px) and (orientation: portrait) {
  .App {
   flex-direction: column;
  }
  .weather-table {
    margin-top: 3em;
    margin-bottom: 4em;
    width: 80%;
    height: 75vh;
  }

}
